# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDEs
.vscode/

# OS
.DS_Store
Thumbs.db

# Data outputs
data/
*.npz
*.npy
*.labels.npy

# Python logs
*.log

# macOS
.DS_Store
